.footer {
  background-color: #1e90ff;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #ffeb3b;
}
